* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 0;
}
body {
  padding: 0;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #fff;

  nav {
    padding: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    z-index: 3;

    p {
      text-align: center;
      font-size: 1.5em;
      a {
        text-decoration: none;
        color: rgb(0, 0, 0);
      }
    }
  }
}
.banner {
  position: fixed;
  top: 4.3em;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  pointer-events: none;
  z-index: -1;

  p {
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-bottom: 1.1em;
  }

  img {
    height: 25rem;
  }
}

.list-food {
  position: relative;
  margin: 38em auto 0 auto;
  padding: 5px;
  background-color: #fff;
  z-index: 1;

  .section-food {
    margin-top: 4em;

    .section-food-GroupName {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1em 0.51em;
    }

    .section-minifoods {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      .article-food {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        border: 1px solid black;
        border-radius: 50px;
        padding: 2.2em;

        img {
          margin: 0 auto;
          height: 17em;
        }

        .section-food-article {
          margin-top: 1.5em;
          width: 100%;
          text-align: center;

          h2 {
            text-align: center;
          }
          p {         }
        }
      }
    }
  }
}

.address{
    width: 100%;
    margin-top: 2.4em;
    background-color: white;
    padding: 0;
    z-index: 1;

    &-padding{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5em;
        width: 100%;
        padding-top: 3em;
    }

    &-map{
        z-index: inherit;
    }

    &-info{
        z-index: inherit;
        padding: 0 25px;
        h1{}
        ul{
            li{
                line-height: 1.5em;
            }
        }
    }
}

.app-foods{
    pointer-events: none;
    user-select: none;
    background-color:white;
    padding-top: 2em;
    padding-bottom: 5em;
    h1{
        text-align: center;
    }
    p{
        width: 100%;
        display: inline-flex;
        gap: 2em;
        justify-content: center;

        img{
            width: 120px;
            height: 100px;
            border-radius: 30px;
        }
    }
}

footer{
    width: 100%;
    height: 20em;
}